<div class="social-sidebar">
  <a href="https://www.linkedin.com/in/vedant-kapse"  target="_blank" class="social-icon">
    <i class="fa-brands fa-linkedin"></i>
    <span class="social-name">LinkedIn</span>
  </a>
  <a href="https://github.com/kapsevedant" target="_blank" class="social-icon">
    <i class="fa-brands fa-github"></i>
    <span class="social-name">Github</span>
  </a>
  <a href="https://leetcode.com/u/vedantkapse2020/" target="_blank" class="social-icon">
    <i class="fa-solid fa-code"></i>
    <span class="social-name">Leetcode</span>
  </a>
</div>
